*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
body{
    background-color: #252627;
}
.container, .profile{
    padding: 0px 100px 0px 100px;
}
header, nav, ul, .profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header{
    padding: 20px 0px;
}
.navbar{
    background-color: #181818;
}
header h1, nav a, .profile p{
    color: #707070;
}
li a{
    text-decoration: none;
    font-size: .9rem;
    margin-left: 30px;
    text-transform: uppercase;
}
li{
    list-style: none;
    position: relative;
    top: 70%;
    bottom: 50%;
    transform: translateY(-50%);
}
.profile{
    margin-top: 50px;
    color: whitesmoke;
}
.profile-heading span{
    display: inline-block;
}
span.name{
    color: #ED5565;;
}
span:hover{
    color: #48CFAD;
    animation-name: rubberBand;
    animation-duration: 1s;
    animation-fill-mode: none;
    animation-iteration-count: 1;
}
span.name:hover{
    color: #ED5565;
}
span.text{
    margin-left: -7px;
}
.profile-img img{
    width: 200px;
    height: 200px;
    margin-top: 45px;
    border-radius: 50%;
}
.contact a{
    text-decoration: none;
    border: 2px solid #ED5565;
    text-transform: uppercase;
    color: #ED5565;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: .8rem;
    overflow: hidden;
    position: relative;
    transition: .5s;
    display: inline-block;
    top: 50px;
}
.contact a:hover{
    color: aliceblue;
}
.contact a::before{
    background-color: #ED5565;
    content: ' ';
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}
.contact a:hover::before{
    height: 100%;
}

@keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  } 

