*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
body{
    background-color: #252627;
}
.container{
    padding: 0px 100px 0px 100px;
}
header, nav, ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header{
    padding: 20px 0px;
}
.navbar{
    background-color: #181818;
}
header h1, nav a{
    color: #707070;
}
a{
    text-decoration: none;
    font-size: .9rem;
    margin-left: 30px;
    text-transform: uppercase;
}
li{
    list-style: none;
    position: relative;
    top: 70%;
    bottom: 50%;
    transform: translateY(-50%);
}